<style>
    .main{
        font-family:'Times New Roman';
        text-align:center;
    }
    .main table{
        width:500px;
    }
	<!--dùng boostrap css theo chuyển reposive-->
</style>
<div class="main">
        <h2>ĐIỆN THOẠI THÀNH LONG</h2>
        <hr />
        <table>
            <thead>
                <tr>
                    <td>STT
                    </td>
                    <td>Tên Sản phẩm
                    </td>
                    <td>Số lượng</td>
                    <td>Giá bán</td>
                    <td>Thành tiền</td>
                </tr>
            </thead>
            
            <tbody>
                {{Content}}
            </tbody>
        </table>
        <h2>{{tongtien}}</h2>
    <h2>Nhân Viên:Nguyễn VĂN a</h2>
</div>

