<script src="~/fontaware/js/all.min.js"></script>
<style>
</style>
<div class="row">
    <div class="col-lg-3 bg-danger">
        <i style="font-size:50px;color:blue" class="far fa-eye"></i>
        <span>1 Người xem</span>
    </div>
    <div class="col-lg-3 bg-success">
        <i style="font-size:50px;color:red;" class="fas fa-hryvnia"></i>
        <span>@string.Format("{0:#,###} $",100000000)</span>
    </div>
    <div class="col-lg-3 bg-primary">
        <i style="font-size:50px;color:yellow" class="fas fa-users"></i>
        <span>1000</span>
    </div>
    <div class="col-lg-3 bg-info">
        <i style="font-size:50px;color:tomato" class="fab fa-creative-commons-by"></i>
        <span>12 online</span>
    </div>
</div>
<!--Báo cáo doanh thu theo từng loại sản phẩm bán được-->
<span>Vẽ biểu đồ báo cáo doanh thu theo từng loại sản phẩm bán được</span>