<style>
    .ul {
        padding: 0;
        list-style-type: none;
        height: 870px;
    }

        .ul li {
            padding: 10px 10px;
        }

            .ul li:hover {
                background-color: red;
            }

            .ul li a:hover {
                text-decoration: none;
            }

    .h3 {
        text-align: center;
        background-color: orangered;
        margin-top: 0;
        padding-bottom: 20px;
    }
</style>
<nav class="nav navbar-default">
    <h3 class="h3">Danh Mục</h3>
    <ul class="ul">
        @foreach (var item in ViewBag.TenLoai)
        {
            <li><a href="@Url.Action("Index", "Home", new { maloaisp = item.MaLoaiSP})">@item.TenLoaiSP</a></li>
        }
    </ul>
</nav>


