
@{ 
    ViewBag.Title = "Shopping Seccess";
    Layout = null;
}
<body style="text-align:center">
    <h2>Đặt hàng thành công</h2>
    <h4>Vui lòng kiểm tra email</h4>
    <a class="btn btn-success btn-sm" href="@Url.Action("Index","Home")"><==Continue</a>
</body>
